@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    color: #2e444e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11181c;
    padding-left: 16px;
    padding-right: 16px;
}

header li{
    color: #bfc8ce;
}

header a {
    color: #bfc8ce;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
}

header button {
    background-color: transparent;
    border: none;
}

main.dark-theme {
    background-color: #11181c;
    color: #bfc8ce;
}

main.dark-theme header {
    background-color: #0b1012 ;
}

main.dark-theme header a {
    color: #bfc8ce;
}